@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  background-color: #fff;
  padding:0px;
  font: 15px/1.45 Calibri, Carlito, Arial, sans-serif; 
  color:#595959;
  font-weight:400;
  margin:0
}
